body{
padding:20px;
background-color:#eee;
font-family:"sans-serif","Microsoft YaHei";
border:10px inset #999;
margin:10px;
}
.Leftside{
position:absolute;
top:20px;
left:20px;
width:200px;
padding:10px;
}
.Leftside img{
 width:80%;
}
.Rightside img{
width:80%;
border:5px solid white;}
.Rightside {
position:absolute;
top:20px;
right:20px;
width:120px;
padding:10px;
}
.content{
padding:20px;
margin-left:220px;
margin-right:20px;
display:inline-block;}
