body{
padding:20px;
background-color:#eee;
font-family:"sans-serif","Microsoft YaHei";
border:10px inset #999;
margin:0;
}
.clearfix{
 overflow:auto;
}
.Leftside{
position:absolute;
top:20px;
left:20px;
width:200px;
padding:10px;
 border:5px solid grey;
 background-color:purple;
 color:white;
 text-align:center;
}
.Leftside img{
 width:80%;
}
.Rightside img{
width:80%;
border:5px solid white;}
.Rightside {
position:absolute;
top:20px;
right:20px;
width:120px;
padding:10px;
border:5px solid grey;
background-color:purple;
 color:white;
 text-align:center;
 overflow: auto;
 zoom: 1;
}
.content{
margin:0 140px auto 220px ;
padding:20px ;
display:inline-block;
border:5px solid grey;
}
.footer{
 background-color:#000;
 display:block;
 width:100%;
 color:white;
 size:2em;
}


